
.footer-container{
    background-color: #0f172a;
    padding: 1.5em;
    margin-top: 2rem;

}

.footer-container> .footer-brandLogo >*{
    text-align: center;
    color: #fff;
}

.footer-inner-container>.quotes{
    color: #c1c1c1;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}
.signout{
    text-align: center;
    color: #fff;
}

.footer-brandLogo > .nav-link-container img{
    width: 2.5em;
}

.footer-brandLogo{
    justify-content: center;
    align-items: center;
    display: flex;
}