
.main-page-logo{
    width: 10em;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    margin-top: 1.2rem;
    align-items: center;
    box-shadow: 5px, 5px, 5px, rgba(0, 0, 0, 2.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.output-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.output-container{
    color: #0f1a2d;
}
.output-logo{
    width: 2.5em;
}

.lp-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    padding: 0 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
}


.lp-btn:hover {
    background-color: #0f1a2d;
}