:root{
    --bg-dark: #0f172a;
    --text-main: #ffffff;
    --accent-color: #5d88cc;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    /* background-color: #0f172a ; */
    padding: 1.5em;

}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 2.5em;
}
.nav-bar > li{
    list-style: none;
}
.nav-bar > .search>a{
    display: flex;
    align-items: center;
    gap: 8px;
    padding:1rem 1em;
    border-radius: 12px;
    background-color: var(--bg-dark);
    color: var(--text-main);
    transition: all 0.3s ease;
}
.nav-bar > .search>a:hover{
    background-color: var(--accent-color);
}

.brandLogo img{
    width: 2.5rem;
}

.nav-link-container,a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 600;
}