:root{
    --bg-dark: #0f172a;
    --text-main: #ffffff;
    --accent-color: #5d88cc;
}

.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 0.8rem 1rem;
    box-sizing: border-box;

}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar > li{
    list-style: none; 
}

.nav-bar > .search>a{
    display: flex;
    align-items: center;
    gap: 8px;
    padding:1rem 1em;
    border-radius: 12px;
    background-color: var(--bg-dark);
    color: var(--text-main);
    transition: all 0.3s ease;
}
.nav-bar > .search>a:hover{
    background-color: var(--accent-color);
}

/* Brand Section */
.brandLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.brandLogo img{
    width: 2.5rem;
    height: auto;
}
.brandLogo p {
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-link-container,a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 600;
}